<a href="https://colab.research.google.com/github/00150/Practice-anything..../blob/main/2022__%EC%9A%B0%ED%81%AC%EB%9D%BC%EC%9D%B4%EB%82%98_%EB%9F%AC%EC%8B%9C%EC%95%84_%EC%A0%84%EC%9F%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Project2. Ïö∞ÌÅ¨ÎùºÏù¥ÎÇò Îü¨ÏãúÏïÑ Ï†ÑÏüÅ üèπ

>22.02.24 Í∞úÏ†ÑÎêú Ï†ÑÏüÅÏùÄ ÌòÑÏû¨ÍπåÏßÄ Í≥ÑÏÜç ÏßÑÌñâÏ§ëÏóê ÏûàÏäµÎãàÎã§.<br/>
Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ïö©ÌïòÏó¨ ÏÜêÏã§ Î∞è ÏïûÏúºÎ°úÏùò Î∞©Ìñ•ÏùÑ ÏòàÏ∏°Ìï¥Î≥¥ÎèÑÎ°ù Ìï©ÎãàÎã§.<br/>

* ‚úîÏ∞∏Í≥† : Ïª¨Îüº Î≥Ñ Ï£ºÏöî Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤òÎäî **Ïö∞ÌÅ¨ÎùºÏù¥ÎÇò Íµ∞ÎåÄ**ÏôÄ **Íµ≠Î∞©Î∂Ä** ÏûÖÎãàÎã§.

#### ‚ùóÏ£ºÏùò.
* **Ïû•ÎπÑ Î∞è Ïù∏Î†• ÏÜêÏã§Ïùò Ïàò**Îäî **Îü¨ÏãúÏïÑÏóêÎßå Ìï¥Îãπ**Ìï©ÎãàÎã§.
* Ïö∞ÌÅ¨ÎùºÏù¥ÎÇòÏóêÏÑúÎäî ÏûêÍµ≠Ïùò Ïû•ÎπÑ Î∞è Ïù∏Î†• ÏÜêÏã§Ïóê Í¥ÄÌïòÏó¨ Ï†ïÌôïÌïòÍ≤å Î∞úÌëúÌïòÏßÄ ÏïäÏïòÏäµÎãàÎã§.

In [ ]:
# Ìå®ÌÇ§ÏßÄ & ÎùºÏù¥Î∏åÎü¨Î¶¨ import
import pandas as pd
import numpy as np

In [ ]:
url1 = '/content/drive/MyDrive/new_project02/russia_losses_equipment.csv'
url2 = '/content/drive/MyDrive/new_project02/russia_losses_personnel.csv'

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df1 = pd.read_csv(url1)

In [ ]:
df1.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,vehicles and fuel tanks,cruise missiles,greatest losses direction
0,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ df2
df2 = pd.read_csv(url2)

In [ ]:
df2.head()

         date  day  personnel personnel*  POW
0  2022-02-25    2       2800      about    0
1  2022-02-26    3       4300      about    0
2  2022-02-27    4       4500      about    0
3  2022-02-28    5       5300      about    0
4  2022-03-01    6       5710      about  200

---
### 1. Data EDA.
>Î∂ÑÏÑù, ÏòàÏ∏° Î∞è Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ Ïù¥Ï†ÑÏóê Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¥Ìé¥Î≥¥ÎèÑÎ°ù Ìï©ÎãàÎã§.

#### 1-1.Ïª¨ÎüºÎ≥Ñ Îç∞Ïù¥ÌÑ∞
> Í∞ÄÎèÖÏÑ±ÏùÑ ÎÜíÌûàÍ∏∞ ÏúÑÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Ïùò Ïª¨ÎüºÏùÑ ÌïúÍ∏ÄÎ°ú Î∞îÍøîÏ§çÎãàÎã§.

In [ ]:
df1.columns

Index(['date', 'day', 'aircraft', 'helicopter', 'tank', 'APC',
       'field artillery', 'MRL', 'military auto', 'fuel tank', 'drone',
       'naval ship', 'anti-aircraft warfare', 'special equipment',
       'mobile SRBM system', 'vehicles and fuel tanks', 'cruise missiles',
       'greatest losses direction'],
      dtype='object')

In [ ]:
# Ïª¨ÎüºÎ™ÖÏùÑ Î≥ÄÍ≤ΩÌïòÍ∏∞ Ï†ÑÏùò Ïù¥Î¶ÑÏùÑ Î≥¥Í¥ÄÌï©ÎãàÎã§.
columns_name_not_modified = df1.columns

In [ ]:
df1.rename(columns={'date':'ÎÇ†Ïßú','day':'Í∞úÏ†ÑÏùº','aircraft':'Ìï≠Í≥µÍ∏∞','helicopter':'Ìó¨Î¶¨ÏΩ•ÌÑ∞','tank' : 'ÌÉ±ÌÅ¨',
                    'APC':'Ïû•Í∞ëÏ∞®','field artillery': 'ÏïºÌè¨' ,'MRL' :'Îã§Ï§ëÎ°úÏºìÎ∞úÏÇ¨Í∏∞', })

Ï∞∏Í≥†ÌïòÍ≥† ÏûàÎäî url

https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war?select=russia_losses_personnel.csv <br>


https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war <br>


https://www.kaggle.com/code/piterfm/ukraine-russia-war-daily-data?scriptVersionId=102179843 <br>