<a href="https://colab.research.google.com/github/00150/Practice-anything..../blob/main/2022__%EC%9A%B0%ED%81%AC%EB%9D%BC%EC%9D%B4%EB%82%98_%EB%9F%AC%EC%8B%9C%EC%95%84_%EC%A0%84%EC%9F%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Project2. 우크라이나 러시아 전쟁 🏹

>22.02.24 개전된 전쟁은 현재까지 계속 진행중에 있습니다.<br/>
주어진 데이터를 이용하여 손실 및 앞으로의 방향을 예측해보도록 합니다.<br/>

* ✔참고 : 컬럼 별 주요 데이터 출처는 **우크라이나 군대**와 **국방부** 입니다.

#### ❗주의.
* **장비 및 인력 손실의 수**는 **러시아에만 해당**합니다.
* 우크라이나에서는 자국의 장비 및 인력 손실에 관하여 정확하게 발표하지 않았습니다.

In [ ]:
# 패키지 & 라이브러리 import
import pandas as pd
import numpy as np

In [ ]:
url1 = '/content/drive/MyDrive/new_project02/russia_losses_equipment.csv'
url2 = '/content/drive/MyDrive/new_project02/russia_losses_personnel.csv'

In [ ]:
# 데이터 불러오기
df1 = pd.read_csv(url1)

In [ ]:
df1.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,vehicles and fuel tanks,cruise missiles,greatest losses direction
0,2022-02-25,2,10,7,80,516,49,4,100.0,60.0,0,2,0,NaN,NaN,NaN,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130.0,60.0,2,2,0,NaN,NaN,NaN,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291.0,60.0,3,2,5,NaN,NaN,NaN,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305.0,60.0,3,2,7,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 데이터 불러오기 df2
df2 = pd.read_csv(url2)

In [ ]:
df2.head()

         date  day  personnel personnel*  POW
0  2022-02-25    2       2800      about    0
1  2022-02-26    3       4300      about    0
2  2022-02-27    4       4500      about    0
3  2022-02-28    5       5300      about    0
4  2022-03-01    6       5710      about  200

---
### 1. Data EDA.
>분석, 예측 및 분류를 진행하기 이전에 데이터를 살펴보도록 합니다.

#### 1-1.컬럼별 데이터
> 가독성을 높히기 위하여 데이터의 컬럼을 한글로 바꿔줍니다.

In [ ]:
df1.columns

Index(['date', 'day', 'aircraft', 'helicopter', 'tank', 'APC',
       'field artillery', 'MRL', 'military auto', 'fuel tank', 'drone',
       'naval ship', 'anti-aircraft warfare', 'special equipment',
       'mobile SRBM system', 'vehicles and fuel tanks', 'cruise missiles',
       'greatest losses direction'],
      dtype='object')

In [ ]:
# 컬럼명을 변경하기 전의 이름을 보관합니다.
columns_name_not_modified = df1.columns

In [ ]:
df1.rename(columns={'date':'날짜','day':'개전일','aircraft':'항공기','helicopter':'헬리콥터','tank' : '탱크',
                    'APC':'장갑차','field artillery': '야포' ,'MRL' :'다중로켓발사기', })

참고하고 있는 url

https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war?select=russia_losses_personnel.csv <br>


https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war <br>


https://www.kaggle.com/code/piterfm/ukraine-russia-war-daily-data?scriptVersionId=102179843 <br>