<a href="https://colab.research.google.com/github/00150/Practice-anything..../blob/main/Untitled185.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CASE STUDY : 타겟이 극도로 불균형한 분류 문제 해결**
> 교통사고에 대하여 청구된 보험들 중 사기성 또는 과장된 청구를 분류하는 데이터셋 이용

In [1]:
!pip3 install imbalanced-learn
!pip install category_encoders
!pip3 install xgboost==1.7.2
!pip install scikit-learn==1.0 -U

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xgboost==1.7.2
  Downloading xgboost-1.7.2-py3-none-manylinux2014_x86_64.whl (193.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.6/193.6 MB 5.9 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from xgboost==1.7.2) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from xgboost==1.7.2) (1.7.3)
Installing collected packages: xgboost
  Attempting uninstall: xgboost
    Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
Successfully installed xgboost-1.7.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn==1.0
  Downloading scikit_learn-1.0-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (25.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.8/25.8 MB 17.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==1.0) (1.22.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==1.0) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==1.0) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==1.0) (1.7.3)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed scikit-learn-1.0

In [3]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/fraud_oracle.csv")
df.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

#### 01. DATA EDA

In [6]:
# 특성 확인하기 (feature)
print(f'shape : {df.shape}')
print(df.columns)

shape : (15420, 33)
Index(['Month', 'WeekOfMonth', 'DayOfWeek', 'Make', 'AccidentArea',
       'DayOfWeekClaimed', 'MonthClaimed', 'WeekOfMonthClaimed', 'Sex',
       'MaritalStatus', 'Age', 'Fault', 'PolicyType', 'VehicleCategory',
       'VehiclePrice', 'FraudFound_P', 'PolicyNumber', 'RepNumber',
       'Deductible', 'DriverRating', 'Days_Policy_Accident',
       'Days_Policy_Claim', 'PastNumberOfClaims', 'AgeOfVehicle',
       'AgeOfPolicyHolder', 'PoliceReportFiled', 'WitnessPresent', 'AgentType',
       'NumberOfSuppliments', 'AddressChange_Claim', 'NumberOfCars', 'Year',
       'BasePolicy'],
      dtype='object')

In [7]:
# 결측치 확인하기.
df.isnull().sum()

Month                   0
WeekOfMonth             0
DayOfWeek               0
Make                    0
AccidentArea            0
DayOfWeekClaimed        0
MonthClaimed            0
WeekOfMonthClaimed      0
Sex                     0
MaritalStatus           0
Age                     0
Fault                   0
PolicyType              0
VehicleCategory         0
VehiclePrice            0
FraudFound_P            0
PolicyNumber            0
RepNumber               0
Deductible              0
DriverRating            0
Days_Policy_Accident    0
Days_Policy_Claim       0
PastNumberOfClaims      0
AgeOfVehicle            0
AgeOfPolicyHolder       0
PoliceReportFiled       0
WitnessPresent          0
AgentType               0
NumberOfSuppliments     0
AddressChange_Claim     0
NumberOfCars            0
Year                    0
BasePolicy              0
dtype: int64

수치형 데이터 및 범주형 데이터 찾기

In [8]:
df.dtypes

Month                   object
WeekOfMonth              int64
DayOfWeek               object
Make                    object
AccidentArea            object
DayOfWeekClaimed        object
MonthClaimed            object
WeekOfMonthClaimed       int64
Sex                     object
MaritalStatus           object
Age                      int64
Fault                   object
PolicyType              object
VehicleCategory         object
VehiclePrice            object
FraudFound_P             int64
PolicyNumber             int64
RepNumber                int64
Deductible               int64
DriverRating             int64
Days_Policy_Accident    object
Days_Policy_Claim       object
PastNumberOfClaims      object
AgeOfVehicle            object
AgeOfPolicyHolder       object
PoliceReportFiled       object
WitnessPresent          object
AgentType               object
NumberOfSuppliments     object
AddressChange_Claim     object
NumberOfCars            object
Year                     int64
BasePolicy              object
dtype: object

데이터 통계량을 간략하게 확인하기. `describe`
* 범주형 및 연속형 변수 모두를 살펴봅니다.

In [9]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Month,15420,12,Jan,1411,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WeekOfMonth,15420.0,NaN,NaN,NaN,2.788586,1.287585,1.0,2.0,3.0,4.0,5.0
DayOfWeek,15420,7,Monday,2616,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Make,15420,19,Pontiac,3837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AccidentArea,15420,2,Urban,13822,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DayOfWeekClaimed,15420,8,Monday,3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthClaimed,15420,13,Jan,1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WeekOfMonthClaimed,15420.0,NaN,NaN,NaN,2.693969,1.259115,1.0,2.0,3.0,4.0,5.0
Sex,15420,2,Male,13000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,15420,4,Married,10625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,15420.0,NaN,NaN,NaN,39.855707,13.492377,0.0,31.0,38.0,48.0,80.0
Fault,15420,2,Policy Holder,11230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PolicyType,15420,9,Sedan - Collision,5584,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehicleCategory,15420,3,Sedan,9671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VehiclePrice,15420,6,20000 to 29000,8079,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FraudFound_P,15420.0,NaN,NaN,NaN,0.059857,0.23723,0.0,0.0,0.0,0.0,1.0
PolicyNumber,15420.0,NaN,NaN,NaN,7710.5,4451.514911,1.0,3855.75,7710.5,11565.25,15420.0
RepNumber,15420.0,NaN,NaN,NaN,8.483268,4.599948,1.0,5.0,8.0,12.0,16.0
Deductible,15420.0,NaN,NaN,NaN,407.70428,43.950998,300.0,400.0,400.0,400.0,700.0
DriverRating,15420.0,NaN,NaN,NaN,2.487808,1.119453,1.0,1.0,2.0,3.0,4.0
Days_Policy_Accident,15420,5,more than 30,15247,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Days_Policy_Claim,15420,4,more than 30,15342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PastNumberOfClaims,15420,4,2 to 4,5485,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AgeOfVehicle,15420,8,7 years,5807,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AgeOfPolicyHolder,15420,9,31 to 35,5593,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PoliceReportFiled,15420,2,No,14992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WitnessPresent,15420,2,No,15333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AgentType,15420,2,External,15179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NumberOfSuppliments,15420,4,none,7047,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AddressChange_Claim,15420,5,no change,14324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NumberOfCars,15420,5,1 vehicle,14316,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,15420.0,NaN,NaN,NaN,1994.866472,0.803313,1994.0,1994.0,1995.0,1996.0,1996.0
BasePolicy,15420,3,Collision,5962,NaN,NaN,NaN,NaN,NaN,NaN,NaN

많은 컬럼이 존재합니다, 의미없는 컬럼은 삭제해도 좋습니다.
> 각 컬럼별 카디널리티 개수를 파악합니다.

In [10]:
df.nunique().sort_values(ascending = False)

PolicyNumber            15420
Age                        66
Make                       19
RepNumber                  16
MonthClaimed               13
Month                      12
AgeOfPolicyHolder           9
PolicyType                  9
DayOfWeekClaimed            8
AgeOfVehicle                8
DayOfWeek                   7
VehiclePrice                6
Days_Policy_Accident        5
NumberOfCars                5
AddressChange_Claim         5
WeekOfMonth                 5
WeekOfMonthClaimed          5
NumberOfSuppliments         4
PastNumberOfClaims          4
Days_Policy_Claim           4
DriverRating                4
Deductible                  4
MaritalStatus               4
VehicleCategory             3
Year                        3
BasePolicy                  3
FraudFound_P                2
Fault                       2
PoliceReportFiled           2
WitnessPresent              2
AgentType                   2
AccidentArea                2
Sex                         2
dtype: int64

* 높은 카디널리티를 가지고 있는 `column : PolicyNumber`은 `index`와 같은 값을 갖고 있습니다.
  * 또한 나머지 피처들의 데이터 값은 대부분 범주형을 띄는 것 같습니다.<br/>
  corr 시각화등의 수치형에서 사용하는 분석범보다는 각 그룹별 평균 Fraud 등을 확인하는 것이 좋습니다.
* 또한 `Year` 특성을 포함할 경우 미래 사건을 예측하기 어려우므로(외삽) 삭제하도록 합니다.

In [11]:
df = df.drop(columns = ['PolicyNumber', 'Year'])
df.nunique().sort_values(ascending = False)

Age                     66
Make                    19
RepNumber               16
MonthClaimed            13
Month                   12
PolicyType               9
AgeOfPolicyHolder        9
DayOfWeekClaimed         8
AgeOfVehicle             8
DayOfWeek                7
VehiclePrice             6
WeekOfMonth              5
Days_Policy_Accident     5
AddressChange_Claim      5
WeekOfMonthClaimed       5
NumberOfCars             5
DriverRating             4
Days_Policy_Claim        4
NumberOfSuppliments      4
Deductible               4
MaritalStatus            4
PastNumberOfClaims       4
BasePolicy               3
VehicleCategory          3
PoliceReportFiled        2
WitnessPresent           2
AgentType                2
Fault                    2
Sex                      2
AccidentArea             2
FraudFound_P             2
dtype: int64