<a href="https://colab.research.google.com/github/00150/Practice-anything..../blob/main/Untitled183_1_Practicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**

#### **N231 Part.2 ëª¨ë¸ í•™ìŠµ ë¶€ë¶„ê¹Œì§€ ë™ì¼í•˜ê²Œ ê³¼ì œë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤.**

In [1]:
!pip install category_encoders 
!pip install eli5 
!pip install pdpbox

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: eli5 in /usr/local/lib/python3.8/dist-packages (0.13.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from eli5) (1.7.3)
Requirement already satisfied: jinja2>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from eli5) (3.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.8/dist-packages (from eli5) (0.8.10)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from eli5) (1.21.6)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.8/dist-packages (from eli5) (1.0.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: attrs>17.1.0 in /usr/local/lib/python3.8/dist-packages (from eli5) (22.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=3.0.0->eli5) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->eli5) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20->eli5) (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pdpbox in /usr/local/lib/python3.8/dist-packages (0.2.1)
Requirement already satisfied: matplotlib==3.1.1 in /usr/local/lib/python3.8/dist-packages (from pdpbox) (3.1.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from pdpbox) (1.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pdpbox) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pdpbox) (1.3.5)
Requirement already satisfied: psutil in /usr/local/lib/python3.8/dist-packages (from pdpbox) (5.4.8)
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (from pdpbox) (0.0.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from pdpbox) (1.7.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.1.1->pdpbox) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.1.1->pdpbox) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.1.1->pdpbox) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.1.1->pdpbox) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pdpbox) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib==3.1.1->pdpbox) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import make_pipeline
from category_encoders import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier

from pdpbox.pdp import pdp_isolate, pdp_plot

## **Part 1. ë°ì´í„° ì¤€ë¹„**

- ì–´ì œ ì‚¬ìš©í–ˆë˜ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.

- íƒ€ê²Ÿê³¼ íŠ¹ì„±ì„ ì§€ì •í•´ ì£¼ì„¸ìš”. 
  - íƒ€ê²Ÿì€ `Attrition`ì…ë‹ˆë‹¤.  
- í›ˆë ¨/í‰ê°€ ë°ì´í„°ì…‹ì„ ë¶„ë¦¬í•˜ì„¸ìš”.
  - í›ˆë ¨/í‰ê°€ ë°ì´í„°ì˜ ë¹„ìœ¨ì€ 8:2ë¡œ í•©ë‹ˆë‹¤.
  - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

In [3]:
# ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° 
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/Employee-Attrition.csv')
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [5]:
# ë°ì´í„°ë¥¼ ë¨¼ì € ë¶„í• í•©ë‹ˆë‹¤.
train, val = train_test_split(df, test_size = 0.2, random_state =42)


# ë°ì´í„°ì˜ feature ë° íƒ€ê²Ÿì„ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤. (ëª…ëª©í˜• ë° ë³€ìˆ˜í˜• ë°ì´í„°ë¡œ ë¬¶ì–´ì¤ë‹ˆë‹¤)
target = 'Attrition'

cat_features = ['BusinessTravel', 'Department','EducationField',
                'Gender','JobRole','MaritalStatus', 'Over18', 'OverTime']

num_features =['Age', 'DailyRate','DistanceFromHome', 'Education','EmployeeCount','EmployeeNumber', 
               'EnvironmentSatisfaction','HourlyRate','JobInvolvement', 'JobLevel','JobSatisfaction',
               'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked','PercentSalaryHike', 'PerformanceRating',
               'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel','TotalWorkingYears', 
               'TrainingTimesLastYear', 'WorkLifeBalance','YearsAtCompany', 'YearsInCurrentRole', 
               'YearsSinceLastPromotion','YearsWithCurrManager']


# ì´í›„ ë°ì´í„°ë¥¼ ë¶„í• í•©ë‹ˆë‹¤. (íƒ€ê²Ÿ ë° í”¼ì²˜)

# í›ˆë ¨
X_train = train[cat_features + num_features]
y_train = train[target]

# ë¶„í• 
X_val = val[cat_features + num_features]
y_val = val[target]

In [6]:
# ë¹„ìœ¨ í™•ì¸
print(y_train.value_counts())
print('\n')
print(y_val.value_counts())

No     978
Yes    198
Name: Attrition, dtype: int64


No     255
Yes     39
Name: Attrition, dtype: int64

## **Part 2. ëª¨ë¸ í•™ìŠµ**

- íƒ€ê²Ÿ Labelì„ `No=0`, `Yes=1`ë¡œ ë³€í™˜í•˜ì„¸ìš”.
  - í›ˆë ¨/í‰ê°€ ë°ì´í„° ëª¨ë‘ ë³€í™˜í•©ë‹ˆë‹¤. 
- í›ˆë ¨ ë°ì´í„°ì…‹ì— ëŒ€í•˜ì—¬ ê¸°ì¤€ëª¨ë¸ì˜ AUC scoreë¥¼ í™•ì¸í•˜ì„¸ìš”.
  - ê¸°ì¤€ëª¨ë¸ì€ ìµœë¹ˆê°’ìœ¼ë¡œ ë§Œë“­ë‹ˆë‹¤.
- `OrdinalEncoder()`ë¥¼ ì‚¬ìš©í•˜ì—¬ íŠ¹ì„±ì„ ì¸ì½”ë”©í•˜ì„¸ìš”. 
- `RandomForestClassifier()`ë¥¼ ì‚¬ìš©í•˜ì—¬ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì„ í•™ìŠµí•˜ì„¸ìš”. 
  - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `n_jobs=-1`, `max_depth=3`ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
- `Cross_val_score()`ë¥¼ í™œìš©í•´ì„œ í•™ìŠµì‹œí‚¨ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì˜ ê²€ì¦ scoreë¥¼ êµ¬í•˜ì„¸ìš”.
  - `cv=10`, `n_jobs=-1`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `scoring`ì€ `roc_auc`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ê²€ì¦ scoreëŠ” í‰ê· ê°’ìœ¼ë¡œ êµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [7]:
# ë¼ë²¨ì„ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

def trans_target(target):
  for i, v in enumerate(target):
    if target.iloc[i] == 'No':
      target.iloc[i] = 0
    
    else :
      target.iloc[i] = 1


# ì´í›„ í›ˆë ¨ ë° í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì˜ íƒ€ê²Ÿì— ì ìš©í•©ë‹ˆë‹¤. 

# í›ˆë ¨ë°ì´í„° ì ìš©
trans_target(y_train)

# ê²€ì¦ë°ì´í„° ì ìš©
trans_target(y_val)

# ì´í›„ ë°ì´í„°ì…‹ì„ ë¦¬ìŠ¤íŠ¸í˜•íƒœë¡œ ë°”ê¿”ì¤˜ì•¼í•©ë‹ˆë‹¤. (fitì„ ì§„í–‰í•˜ê¸° ìœ„í•´ì„œëŠ” í•„ìˆ˜ì ì…ë‹ˆë‹¤!)
y_train = y_train.tolist()
y_val = y_val.tolist()

In [8]:
# ì´í›„ ë°ì´í„° íŒŒì´í”„ë¼ì¸ì„ ìƒì„±í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•©ë‹ˆë‹¤. (ì¡°ê±´ í™•ì¸)
def get_pipeline(**kwargs):
  return make_pipeline(
      OrdinalEncoder(),
      RandomForestClassifier(**kwargs))


# ì¡°ê±´ì— ë§ëŠ” íŒŒì´í”„ë¼ì¸ì„ ìƒì„±í•©ë‹ˆë‹¤. 
# max_depth =3, n_jobs = -1, random_state =42, class_weight = 'balanced'
pipe = get_pipeline(max_depth = 3, n_jobs = -1, random_state = 42)


# fitì„ ì§„í–‰í•©ë‹ˆë‹¤.
pipe.fit(X_train, y_train)

Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['BusinessTravel', 'Department',
                                      'EducationField', 'Gender', 'JobRole',
                                      'MaritalStatus', 'Over18', 'OverTime'],
                                mapping=[{'col': 'BusinessTravel',
                                          'data_type': dtype('O'),
                                          'mapping': Travel_Rarely        1
Non-Travel           2
Travel_Frequently    3
NaN                 -2
dtype: int64},
                                         {'col': 'Department',
                                          'data_type': dtype('O'),
                                          'mapping': Research & Dev...
NaN                         -2
dtype: int64},
                                         {'col': 'MaritalStatus',
                                          'data_type': dtype('O'),
                                          'mapping': Divorced    1
Single      2
Married     3
NaN        -2
dtype: int64},
                                         {'col': 'Over18',
                                          'data_type': dtype('O'),
                                          'mapping': Y      1
NaN   -2
dtype: int64},
                                         {'col': 'OverTime',
                                          'data_type': dtype('O'),
                                          'mapping': No     1
Yes    2
NaN   -2
dtype: int64}])),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=3, n_jobs=-1,
                                        random_state=42))])

In [9]:
# cross_val_score ì¸ìŠ¤í„´ìŠ¤ ê°ì²´ë¥¼ ìƒì„±í•©ë‹ˆë‹¤, ìœ„ì™€ ë‚˜ì˜¨ ì¡°ê±´ì„ ì ìš©í•©ë‹ˆë‹¤.
from sklearn.model_selection import cross_val_score

scores = cross_val_score(pipe, 
                         X_val,
                         y_val,
                         cv = 10,
                         n_jobs = -1,
                         scoring ='roc_auc')

In [10]:
# ì´í›„ êµì°¨ê²€ì¦ë³„ ì •í™•ë„ë¥¼ ì‚´í´ë´…ì‹œë‹¤.
print(f'êµì°¨ ê²€ì¦ë³„ ì •í™•ë„ {np.around(scores, 3)}')

# ì´í›„ êµì°¨ê²€ì¦ í‰ê· ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
print(f'êµì°¨ ê²€ì¦ í‰ê· {np.around(np.mean(scores),4)}')

êµì°¨ ê²€ì¦ë³„ ì •í™•ë„ [0.692 0.712 0.74  0.817 0.385 0.74  0.76  0.55  0.75  0.74 ]
êµì°¨ ê²€ì¦ í‰ê· 0.6886

## **Part 3. ICE PLOT**

- Test Setì˜ `100ë²ˆì§¸ ìƒ˜í”Œ`ì„ ì‚¬ìš©í•´ì„œ ICE Plotì„ ê·¸ë ¤ë³´ì„¸ìš”.

- ì•„ë˜ íŠ¹ì„±ë“¤ì— ëŒ€í•œ ICE Plotì„ ê·¸ë ¤ë³´ê³  íŠ¹ì„± ê°’ì´ ë³€í™”í•¨ì— ë”°ë¼ íƒ€ê²Ÿê°’ì´ í•˜ë½í•˜ëŠ” ê²½í–¥ì„ ë³´ì´ëŠ” íŠ¹ì„±ì„ ì°¾ì•„ë³´ì„¸ìš”.

>`'JobSatisfaction'`

> `'DistanceFromHome'`

> `'JobInvolvement'`
 
> `'TotalWorkingYears'`

**ì‚¬ì „ ì¤€ë¹„**

In [13]:
# ì¸ì½”ë” ì¸ìŠ¤í„´ìŠ¤ ê°ì²´ë¥¼ ìƒì„±í•©ë‹ˆë‹¤. : ordinalencoder
enc = OrdinalEncoder()

# í›ˆë ¨ë°ì´í„°ë¥¼ ì¸ì½”ë”ì— ì ìš©í•©ë‹ˆë‹¤. -> fit_transform
X_train_encoded = enc.fit_transform(X_train)

# ê²€ì¦ ë°ì´í„°ë¥¼ ì¸ì½”ë”ì— ì ìš©í•©ë‹ˆë‹¤. -> transform
X_val_encoded = enc.transform(X_val)

# ëœë¤í¬ë ˆìŠ¤íŠ¸ì˜ ì¸ìŠ¤í„±ìŠ¤ ê°ì²´ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
random_forest = RandomForestClassifier(
    max_depth = 3, 
    n_jobs = -1, 
    random_state = 42)

# ì˜ˆì¸¡ ì–‘ìƒì˜ ë³€í™”ë¥¼ í™•ì¸í•˜ê³ ìí•˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤. 100ë²ˆì§¸ ìœ„ì¹˜í•œ ë°ì´í„°
one_point = X_val_encoded.iloc[[100]].copy()

**í•¨ìˆ˜ ìƒì„±**
> ì´ 4ê°€ì§€ ì»¬ëŸ¼ì— ëŒ€í•´ ì ìš©í•˜ë ¤ê³  í•©ë‹ˆë‹¤, ëª¨ë‘ ì—°ì†í˜• ë³€ìˆ˜ì…ë‹ˆë‹¤.

* ìµœì†Œê°’ ë° ìµœëŒ€ê°’ì„ ì ìš©ì‹œì¼œ ì§„í–‰í•  ê²ƒ ì…ë‹ˆë‹¤.
* ëª¨ë“  ì‘ì—…ì— ê³µí†µì ìœ¼ë¡œ ì§„í–‰í•  ìˆ˜ ìˆê²Œë” í•¨ìˆ˜ë¥¼ ìƒì„±í•˜ì—¬ ë´…ì‹œë‹¤.

In [ ]:
def icc_plot(column):

  # ê²°ê³¼ ê°’ì„ í™•ì¸í•  ë¹ˆ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
  global results

  # ì ìš©ë˜ëŠ” ì»¬ëŸ¼ì˜ ìµœì†Œê°’ ë° ìµœëŒ€ê°’ì„ ë„£ì–´ í™•ì¸í•  ìˆ˜ ìˆëŠ” ë²”ìœ„ë¥¼ ì‘ì„±í•©ë‹ˆë‹¤.
  column_test_range = range(X_val_encoded[column].min(),   # ìµœì†Œê°’.
                            X_val_encoded[column].max()+1) # ìµœëŒ€ê°’.

  # ë°˜ë³µë¬¸ì„ ìƒì„±í•©ë‹ˆë‹¤.
  for values in column_test_range:

    # ì§€ì •í•œ ì»¬ëŸ¼ì˜ ê°’ì„ ë°”ê¿” ì ìš©í•©ë‹ˆë‹¤.
    one_point[column] = values 

    # ë°”ë€ ê°’ë¶€í„°ì˜ í™•ë¥ ì„ ì˜ˆì¸¡í•©ë‹ˆë‹¤.
    one_point_pred_proba = random_forest

**3-1. `'JobSatisfaction'`**ì˜ ê°’ì„ ì‚´í´ë´…ë‹ˆë‹¤.

In [20]:
# ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ëŠ” ìµœì†Œê°’ ë° ìµœëŒ€ê°’ìœ¼ë¡œ ë°”ê¾¸ì–´ ì ìš©ì„ ì§„í–‰í•©ë‹ˆë‹¤. 

# ê°

AttributeError: ignored

In [22]:
pipe.named_steps['ordinalencoder'].get_support()

AttributeError: ignored

In [ ]:
 target = 'JobSatisfaction'

In [ ]:
target = 'JobSatisfaction'




filter(pipe.named_steps['ordinalencoder'],)

In [37]:
pipe.named_steps['ordinalencoder'].mapping



#ë¶ˆëŸ¬ì˜¬ íŠ¹ì„±ì˜ mappingì„ ì„¤ì •í•©ë‹ˆë‹¤.

# filterì˜ ê°’ì€ list ë° tuple ë“±ì˜ ë‚´ì¥í•¨ìˆ˜ë¥¼ ì´ìš©í•˜ì§€ ì•ŠëŠ”ë‹¤ë©´, filter íƒ€ì… ê°’ë§Œì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.
mapping_data = list(filter(lambda x:x['col'] == target_feature, mappings))
mapping_data

[{'col': 'BusinessTravel', 'mapping': Travel_Rarely        1
  Non-Travel           2
  Travel_Frequently    3
  NaN                 -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'Department', 'mapping': Research & Development    1
  Sales                     2
  Human Resources           3
  NaN                      -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'EducationField', 'mapping': Technical Degree    1
  Life Sciences       2
  Marketing           3
  Medical             4
  Human Resources     5
  Other               6
  NaN                -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'Gender', 'mapping': Male      1
  Female    2
  NaN      -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'JobRole', 'mapping': Laboratory Technician        1
  Research Scientist           2
  Sales Executive              3
  Manufacturing Director       4
  Human Resources              5
  Healthcare Representative    6
  Sales Representative         7
  Manager                      8
  Research Director            9
  NaN                         -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'MaritalStatus', 'mapping': Divorced    1
  Single      2
  Married     3
  NaN        -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'Over18', 'mapping': Y      1
  NaN   -2
  dtype: int64, 'data_type': dtype('O')},
 {'col': 'OverTime', 'mapping': No     1
  Yes    2
  NaN   -2
  dtype: int64, 'data_type': dtype('O')}]

In [ ]:
# 100ë²ˆì§¸ ë°ì´í„°ì˜ 'JobSatisfaction'ì˜ ê°’ì„ ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ëŠ” ìµœì†Œê°’ ë° ìµœëŒ€ê°’ì˜ ë²”ì£¼ë¡œ ë³€í™”ë¥¼ ì£¼ì–´ ì•Œì•„ë³´ë ¤ê³  í•©ë‹ˆë‹¤.

JobSatisfaction_test_range = range(X_val)

**3-2. `'DistanceFromHome'`**ì˜ ê°’ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

**3-3. `'JobInvolvement'`**ì˜ ê°’ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

**3-4. `'TotalWorkingYears'`**ì˜ ê°’ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

##### **Q1. Test Setì˜ 100ë²ˆì§¸ ìƒ˜í”Œë¡œ ICE Plotì„ ê·¸ë ¤ë³´ê³  íŠ¹ì„± ê°’ì´ ë³€í™”í•¨ì— ë”°ë¼ íƒ€ê²Ÿê°’ì´ í•˜ë½í•˜ëŠ” ê²½í–¥ì„ ë³´ì—¬ì£¼ëŠ” íŠ¹ì„±ì„ ëª¨ë‘ ê³ ë¥´ì„¸ìš”.**

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ìˆ˜í–‰í•´ì£¼ì„¸ìš”.

## **Part 4. PDP PLOT**

- `Job satisfaction` íŠ¹ì„±ì„ ì‚¬ìš©í•´ì„œ pdp plotì„ ê·¸ë ¤ë³´ê³  íƒ€ê²Ÿê°’ê³¼ì˜ ê´€ê³„ë¥¼ ì„¤ëª…í•˜ì„¸ìš”.

In [ ]:
target_feature = 'JobSatisfaction'

##### **Q2. `Job satisfaction` íŠ¹ì„±ì„ ì‚¬ìš©í•´ì„œ pdp plotì„ ê·¸ë ¤ë³´ê³  íƒ€ê²Ÿê°’ê³¼ì˜ ê´€ê³„ë¥¼ ì„¤ëª…í•˜ê¸° ìœ„í•´ ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œë³´ì„¸ìš”.**

> Test Setë¥¼ ì‚¬ìš©í•´ì„œ PDP plotì„ ê·¸ë ¤ë³´ë©´ `Job satisfaction` íŠ¹ì„± ê°’ì´ ë³€í™”í•¨ì— ë”°ë¼ íƒ€ê²Ÿê°’ì´ ì „ì²´ì ìœ¼ë¡œ _____í•˜ëŠ” ê²½í–¥ì„±ì„ ë³´ì¸ë‹¤.
1. ìƒìŠ¹
2. í•˜ë½

In [ ]:
## ì´ ê³³ì—ì„œ ê³¼ì œë¥¼ ìˆ˜í–‰í•´ì£¼ì„¸ìš”.

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

## **Part 5. í”„ë¡œì íŠ¸ ì¤€ë¹„**

> #### **ì´ë²ˆ ë„ì „ê³¼ì œëŠ” n231ì— ì´ì–´ì„œ ì§„í–‰í•´ë³´ì„¸ìš”.**

- ì§€ë‚œ ë„ì „ê³¼ì œì—ì„œ ì§€ì‹œí•œ ë°”ì™€ ê°™ì´ í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. 

- ëª¨ë¸ë§ì„ ìˆ˜í–‰í•œ í›„ ìˆœì—´ì¤‘ìš”ë„ë¥¼ êµ¬í•˜ê³  ìƒìœ„ íŠ¹ì„±ë§Œ ì‚¬ìš©í•´ì„œ ëª¨ë¸ì„ ìµœì í™” í•´ë³´ì„¸ìš”.

- PDPë¥¼ ì‚¬ìš©í•´ì„œ ëª¨ë¸ì„ ë“¤ì—¬ë‹¤ë³´ê³  í•´ì„í•´ë³´ì„¸ìš”.