<a href="https://colab.research.google.com/github/00150/Practice-anything..../blob/main/Untitled184_advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

※ 184의 내용을 바탕으로 연습
* 필요한 라이브러리는 그때 그때 사용하도록 할 것.

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 2.8 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

## **Part 1. 분류/회귀 문제**
> 다이아몬드를 보관하기 위해 금고를 만들었습니다. 금고가 너무 작아서 가격이 상위 25% 이상인 것만 보관하려고 합니다. 이를 위해 `price` 특성을 이용해 금고에 보관할 다이아몬드와 그렇지 않은 것으로 분류하는 이진 분류 컬럼을 만들어 타겟으로 사용할 것입니다.

- `diamonds` 데이터셋을 불러오세요.
- `top25`라는 새로운 타겟 변수(컬럼)를 만들어 주세요. 
  - `price` 값이 상위 25% 이상이면 `True`, 상위 25% 미만이면 `False`가 되도록 `top25`에 저장하세요.

In [2]:
# 데이터셋 불러오기
import pandas as pd
import seaborn as sns

diamonds = sns.load_dataset('diamonds')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

`target: column`은 `price` 입니다.
* 또한 현재 컬럼은 연속형 변수입니다.
  * 상위 25% 값은 `True`, 아니라면 `False`값으로 변경해야 합니다.
  * 이 값은 `top25`라는 새로운 column에 생성되며, 생성시 범주형 변수로 생성됩니다.

In [14]:
print(diamonds['price'].min(), diamonds['price'].max())

326 18823

In [12]:
diamonds.sort_values(by='price')

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16

[53940 rows x 10 columns]

In [5]:
# 필요한 라이브러리 가져오기.
import numpy as np

# 상위 25%에 대한 사분위 수 생성.
top_25 = np.percentile(diamonds['price'], 75) # 상위 25%의 값 확인 ->top_25 :5324.25

5324.25

In [15]:
#  컬럼 생성
diamonds['top25'] = diamonds['price'] >= 5324.25

In [17]:
# 타겟의 고유값을 확인합니다.
diamonds['top25'].unique()

array([False,  True])

In [19]:
# 타겟값의 빈도 확인하기.
diamonds['top25'].value_counts(normalize=True)

False    0.75
True     0.25
Name: top25, dtype: float64

> 타겟 `top25`가 가지고 있는 빈도 값은 아래와 같습니다.

* False : 0.75
* True : 0.25

---

## **Part 2. 데이터 누수(Data leakage)**
- 특성 `X`와 타겟 `y`를 분리하여 저장하세요.
  - 특성은 타겟을 제외한 모든 컬럼입니다. 
- `X`와 `y` 데이터를 train/val set으로 나누세요. 
  - train/val set의 비는 8:2로 합니다.
  - `random_state=2`로 설정합니다. 
- `DecisionTreeClassifier()`를 사용하여 결정트리 모델을 학습시키세요. 
  - `random_state=2`로 설정합니다.

In [42]:
# 필요한 라이브러리 가져오기
from sklearn.model_selection import train_test_split

# 데이터 분할
train, val = train_test_split(diamonds, 
                              train_size = 0.8,
                              test_size = 0.2,
                              random_state = 2)


# features 확인.
features = diamonds.columns.tolist()

# 이후 pop 함수를 이용하여 마지막에 생선된 컬럼의 이름 top25를 제거합니다. 
features.pop(-1)

# target 
target = 'top25'


# 훈련 데이터셋 설정.
X_train = train[features]
y_train = train[target]


# 검증 데이터셋 설정.
X_val = val[features]
y_val = val[target]

# 모델 생성 : 인코딩은 오디널로 진행, 결정트리 및, 파이프라인을 이용한 모델 생성.
# 필요한 라이브러리 가져오기.

In [41]:
y_train

34837    False
19858     True
9544     False
44752    False
45717    False
         ...
44566    False
30280    False
6637     False
35343    False
23720    False
Name: top25, Length: 43152, dtype: bool

In [36]:
features

['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z']